user nginx;
worker_processes  1;
pid /run/uwsgi/nginx.pid;
error_log /dev/stdout;

events {
    worker_connections  1024;
}

http {
    include mime.types;
    sendfile on;
    keepalive_timeout  65;
    gzip off;
    client_body_temp_path /tmp 1 2;
    proxy_temp_path /tmp 1 2;
    fastcgi_temp_path /tmp 1 2;
    uwsgi_temp_path /tmp 1 2;
    scgi_temp_path /tmp 1 2;

    
    server {
        listen $PORT;
        access_log /dev/stdout;
        error_log /dev/stdout;
        server_name _;

        location / {
            include uwsgi_params;
            proxy_pass http://127.0.0.1:5000;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            auth_basic "Restricted Content";
            auth_basic_user_file /etc/nginx/.htpasswd;
        }

        location /socket.io {
            include uwsgi_params;
            proxy_http_version 1.1;
            proxy_buffering off;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_pass http://127.0.0.1:5000/socket.io;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        
        
    }
}
