{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <link href="/static/algovpngen.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {%- endblock styles %}
    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/static/favicon-144.png">
    {% block scripts %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        {% include 'bootstrap.html' %}
    {%- endblock scripts %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
  <div class="alert alert-info">
  This site is an alpha. Please report any issues to @_MiW on <a href='https://twitter.com/_MiW'>twitter</a> or <a href='https://github.com/MiWCryptAnalytics/AlgoVPNGen'>github project<a>
  </div>  
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    
    {% block content -%}
    {%- endblock content %}

    
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}