{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<div class="col-lg-6 col-offset-6 centered">
		<img src='/static/logo.png'>
	</div>
	<div class="p-3"></div>

	<div class="row">
		<div class="col-sm-3">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="/static/ocean.png" alt="Digital Ocean">
			  <div class="card-block">
			    <h4 class="card-title">Digital Ocean</h4>
			    <p class="card-text">Build your algo vpn on <a href='https://www.digitalocean.com/'>Digital Ocean</a></p>
			    <a href='/digitalocean' id="digitalocean" class="btn btn-primary">Build</a>
			  </div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="/static/build.png" alt="Algo VPN">
			  <div class="card-block">
			    <h4 class="card-title">I build VPNs</h4>
			    <p class="card-text">Algo VPN Generator will build you a personal VPN server on the cloud.</p>
			  </div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="/static/tree.png" alt="No additional software">
			  <div class="card-block">
			    <h4 class="card-title">No additional software to install</h4>
			    <p class="card-text">This application will produce a configuration zip, contains scripts for your computer and devices. 
			    Configure a secure personal VPN on your phone.</p>
			  </div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="/static/mandy.png" alt="All systems supported">
			  <div class="card-block">
			    <h4 class="card-title">Compatible with all major Operating Systems</h4>
			    <p class="card-text">Windows, Linux, Mac, iOS, and Android. Any other platforms with an IPSEC client.</p>
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
